*{
    box-sizing: border-box;
}

/* FONTS  */
@font-face {
    font-family:mont;
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

body{
    background-color: lightgray;
}

.header{
    background-color: #ff7f00;
    height: 50px;
    color: white;
}
.header-content{
    height: inherit;
}
.logo{
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
}


.header-nav ul li a{
    line-height: 50px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: mont;
    color: #FFFFFF;  
}
.header-nav ul li a:hover{
    height: 50px;
    color: black;
    box-shadow: inset 0px -4px 0 black;
}

.header-nav ul li{
    width: 80px;
}
.header-nav ul a{
    line-height: 50px;
    color: grey;
}
button{
    cursor: pointer;
}
/* HOME */

.home{
    display: grid;
    width: 100%;
    padding-top: 20px;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(6,1fr);
    gap:2rem;
}
img{
    height: 100%;
    width: 100%;
}
.search-bar{
    /* height: fit-content; */
    min-height: 80px;
    background-color: #fff;

}
.search-bar ul li button{
    /* line-height: 50px;  */
    /* display: block;  */
    /* text-align: center; */
    background-color: #fff;
    border: none;
    line-height: 80px;
    width: 80px;
    font-size: 20px;
}
.search button{
    background-color: #fff;
    border: none;
    border-bottom: 2px black solid;
    height: 50px;
}
.search input{
    border: none;
    border-bottom: 2px black solid;
    height: 50px;
    font-size: 20px;
    /* margin-left: 50px; */
    
}


/* EDITOR  */
.editor{
    /* display: grid; */
    display: flex;
    flex-direction: row;
    height: 500px;
    /* margin: 0 auto; */
    /* grid-template-columns: 1fr 1fr; */
    /* display: none; */
}

.canvas-contianer{
    /* margin: 0 auto; */
    width: 50%;
    /* height: 90%; */
    
}
.editor-container{
    display: grid;
    border: solid black 1px;
    width: 50%;
    /* height: 500px; */
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(4,1fr) 2fr 1fr;
    /* gap: 20px; */
}
#my-canvas{
    /* display: block; */
    /* margin: 0 auto; */
    /* background-color: #fff; */
    /* border: 1px black solid; */
    cursor: grab;
    height: 100%;
    padding: 20px 10px 20px 0 ;
}
.text-input{
    border-radius: 6px;
    /* border: none; */
    grid-column: 1/6;
}
.inc-icon{
    grid-row: 3/4;
    grid-column: 1/2;
    border-radius: 6px;
    background-color: #fff;
}
.dec-icon{
    grid-row: 3/4;
    grid-column: 2/3;
    border-radius: 6px;
    background-color: #fff;
}
.line-switch{
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 6px;
    background-color: #fff;
}
.add{
    grid-row: 2/3;
    grid-column: 3/4;
    border-radius: 6px;
    background-color: #fff;
}
.trash{
    grid-row: 2/3;
    grid-column: 4/5;
    border-radius: 6px;
    background-color: #fff;
}
.text-ltr{
    grid-row: 3/4;
    grid-column: 3/4;
    border-radius: 6px;
    background-color: #fff;
}
.text-center{
    grid-row: 3/4;
    grid-column: 4/5;
    border-radius: 6px;
    background-color: #fff;
}
.text-rtl{
    grid-row: 3/4;
    grid-column: 5/6;
    border-radius: 6px;
    background-color: #fff;
}
#font-select{
    grid-row: 4/5;
    grid-column: 1/4;
    border-radius: 6px;
}
.text-stroke{
    grid-row: 4/5;
    grid-column: 4/5;
    border-radius: 6px;
    background-color: #fff;
}
.color{
    grid-row: 4/5;
    grid-column: 5/6;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    src: url(/icons/paint-board-and-brush.png);
}
.save{
    border-radius: 6px;
    background-color: #fff;
}


/* SAVED MEMES */
.saved-memes{
    display: flex;
    justify-content: space-evenly;
}

.saved-memes img{
    height: 100px;
    width: 100px;
}


/* FOOTER  */
.footer{
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: #ff7f00;
}


/* HELPERS */
.main-layout{
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
} 
.flex.space-between{
    justify-content: space-between;
}
.flex.align-center{
    align-items: center;
}
.clean-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
